<div id="settings">
  <h2>Notification settings</h2>
  <select id="notificationselect" [(ngModel)]="settings">
    <option *ngFor="let o of options" [ngValue]="o">{{ o.name }}</option>
  </select>
  <div>
    <button (click)="closeSettings()" class="pure-button">Close</button>
  </div>
</div>
