<div class="banner" *ngIf="showBanner">
  Install marktimer as an app!
  <button class="pure-button pure-button-primary" (click)="install()">Yes, please!</button>
  <button class="pure-button" (click)="hideBanner()">No, thanks. Don't ask me again.</button>
</div>
