<div class="pure-g">
  <div class="pure-u-1-24 pure-u-lg-1-4"></div>
  <div class="pure-u-22-24 pure-u-lg-1-2">
    <div class="pure-u-2-3 pure-u-md-2-5">{{ durationObject.comment }}</div>
    <div class="pure-u-1-3 pure-u-md-1-5">{{ showTime }}</div>
    <div class="pure-u-1-1 pure-u-md-2-5 text-right">
      <button (click)="emitStartStep()" class="pure-button pure-button-primary">Start Step</button>
      <button (click)="emitDeleteStep()" class="pure-button">Delete Step</button>
      <button (click)="showForm = !showForm" class="pure-button"><span *ngIf="!showForm">Add Step</span> <span *ngIf="showForm">Hide Form</span></button>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-lg-1-4"></div>
</div>
<div class="pure-g" *ngIf="showForm">
  <div class="pure-u-1-24 pure-u-lg-1-4"></div>
  <div class="pure-u-22-24 pure-u-lg-1-2 text-right">
    <form #stepForm="ngForm" (ngSubmit)="addStep(stepForm)" class="pure-form">
      <input type="number" name="hours" placeholder="Hours" id="hours" min="0" size="4" ngModel>
      <input type="number" name="minutes" placeholder="Min" id="minutes" min="0" max="60" size="4" ngModel>
      <input type="number" name="seconds" placeholder="Sec" id="seconds" min="0" max="60" size="4" ngModel>
      <input type="text" name="comment" placeholder="Comment" id="comment" class="pure-input-1-4" ngModel>
      <input type="submit" value="OK" class="pure-button pure-button-primary">
    </form>
  </div>
  <div class="pure-u-1-24 pure-u-lg-1-4"></div>
</div>
