<h1><img src="assets/icons/icon.svg" class="logo">Marktimer</h1>
<app-countdown [durationObject]="countDownStep"
               [restart]="restartToggle"
               (countZero)="notify(0)"
               (countOne)="notify(1)"
               (countTwo)="notify(2)"
               (countThree)="notify(3)"></app-countdown>
<p class="text-center">
  <button (click)="toggleRepeat()" class="pure-button" [ngClass]="{'pure-button-active': modeRepeat}">Repeat Batch</button>
  <button (click)="showNotificationSettings = true" class="pure-button">Notification Settings</button>
  <app-notification-settings *ngIf="showNotificationSettings" (finished)="setNotificationSettings($event)" [inSettings]="notificationSettings"></app-notification-settings>
</p>
<button (click)="showOneShot = !showOneShot" class="pure-button">OneShot</button>
<button *ngFor="let b of predefinedBatches; let i = index" (click)="startPredefinedBatch(i)" class="pure-button">{{ b.name }}</button>

<form #presetForm="ngForm" (ngSubmit)="startCountdown(presetForm)" class="pure-form" *ngIf="showOneShot || countDownBatch.length === 0">
  <input type="number" name="hours" placeholder="Hours" id="hours" min="0" size="4" ngModel>
  <input type="number" name="minutes" placeholder="Min" id="minutes" min="0" max="60" size="4" ngModel>
  <input type="number" name="seconds" placeholder="Sec" id="seconds" min="0" max="60" size="4" ngModel>
  <input type="text" name="comment" placeholder="Comment" id="comment" class="pure-input-1-4" ngModel>
  <input type="submit" value="Start" class="pure-button pure-button-primary">
</form>

<span *ngIf="countDownBatch.length > 0">
<h2>Current Batch:</h2>
<button (click)="showSaveLocal = !showSaveLocal" class="pure-button">Save locally</button>
<button (click)="showSaveCloud = !showSaveCloud" class="pure-button">Save to cloud</button>
<div *ngIf="showSaveLocal">
  <form #saveLocalForm="ngForm" (ngSubmit)="saveLocal(saveLocalForm)" class="pure-form">
    <input type="text" name="name" placeholder="Name" id="name" class="pure-input-1-4" ngModel required="">
    <input type="submit" value="Save" class="pure-button pure-button-primary">
  </form>
  <div>
    <span *ngIf="predefinedBatches.length > 2">Delete locally:</span>
    <span *ngFor="let b of predefinedBatches; let i = index">
      <button *ngIf="i > 1" (click)="deleteLocal(b.name)" class="pure-button">{{ b.name }}</button>
    </span>
  </div>
</div>
<div *ngIf="showSaveCloud">
  <form #saveCloudForm="ngForm" (ngSubmit)="saveCloud(saveCloudForm)" class="pure-form">
    <input type="text" name="name" placeholder="Name" id="name" class="pure-input-1-4" ngModel required="">
    <input type="submit" value="Save" class="pure-button pure-button-primary">
  </form>
  <ng-container *ngIf="!batchUrl">When saving to the cloud, you will receive an URL to run this batch from any device.</ng-container>
  <div *ngIf="cloudSaving">Please wait while clouding...</div>
</div>
<ng-container *ngIf="batchUrl">
  Your URL to run this batch from any device: <a [href]="batchUrl">{{batchUrl}}</a><br>
  Cloud-batches will be deleted 90 days after last usage. (Last URL-call)
</ng-container>
<app-batch-step *ngFor="let step of countDownBatch; let i = index" [durationObject]="step" [index]="i"
                (startStep)="startBatchStep($event)"
                (deleteStep)="deleteBatchStep($event)"
                (newStepAfter)="insertBatchStep($event)">
</app-batch-step>
</span>
