/* You can add global styles to this file, and also import other style files */
@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';

button, input {
  margin: 5px;
}
body {
  padding: 5px;
}
